$review-slide-count: 9;
$slide-width: 40rem;
$mobil-slide-width: 25rem;

.image-review-cover {
    display: inline-block;
    position: relative;

    img {
        width: 100%;
        display: block;
        border-radius: 7px;
    }
}

.review-subject {
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 4px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 6px;
}

@media screen and (max-width: 770px) {
    .review-carousel__slide-list {
        width: calc(#{($review-slide-count+2) * $mobil-slide-width}) !important;
    }

    .review-carousel__slide-item {
        width: $mobil-slide-width !important;
    }

    .review-subject {
        font-size: 0.8em;
    }

    .swiper {
        width: 90%;
        height: 90%;
    }
}

@media screen and (min-width: 576px) {
    .review-carousel__slide-list {
        width: calc(#{($review-slide-count+ 2) * $slide-width});
    }

    .swiper {
        width: 70%;
        height: 70%;
    }

}

.review-carousel__slide-list {
    height: 100%;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);

}

.review-carousel__slide-item {
    display: inline-block;
    margin: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.3s;
    width: $slide-width;
}

.review-carousel__slide-item-img-link {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;

    img {
        height: 50%;
        object-fit: cover;
        transition: all 0.5s ease;
        width: 50%;
    }

}

.review-carousel__slide-item__body {
    bottom: -2.5rem;
    height: 10%;
    position: absolute;

    h4 {
        margin: 0.7rem 0 0;
        text-transform: uppercase;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.3;
        margin: 0.7rem 0 0;
    }
}







.swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}