
.react-multi-carousel-list.carousel-container-with-scrollbar {
  padding: 10px;
  display: flex;
  align-items: center;

}

.highlight-work {
  width: 70%;
  margin: auto;
}

footer {
  margin: 15px;
}

.review-slider {
  width: 90% !important;
  background: rgba($color: #504e4e, $alpha: 0.5);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  white-space: normal;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .slider {
    width: 100% !important;
    padding: 4px !important;
  }
}

.image-gallery-slide .image-gallery-description {
  left: 0;
  bottom: 0 !important;
  right: 0;
}