nav.navbar {
    justify-content: center;
}
.navbar{
    text-align: center;
    align-items: center !important;
}
// .nav-bar {
//     // background-color: #282828;
//     // width: 100%;
//     // text-align: center;
//     flex: none;
//     margin: 0 auto;
// }

//   .bar-container{
// justify-content: center !important;
//   }
// .nav-link {
//     border-radius: 8px;
//     flex: none;
//     font-weight: 500;
//     padding: 12px 24px;
//     text-decoration: none;
//     transition: background-color 200ms ease;

//     &:hover {
//         background-color: rgba(47, 66, 80, 0.2);
//         text-decoration: none;
//     }
// }