@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600");

main {
	background: #fff;
	margin: 0 auto;
	max-width: 680px;
	padding: 50px 30px;
}

p {
	line-height: 1.4;
	font-size: 16px;
	margin-bottom: 30px;
}

code {
	background: #f4f6fc;
	border-radius: 5px;
	color: #2d4284;
	font-family: monospace;
	padding: 4px 8px;
}

.placeholder {
	background: #f4f6fc;
	border-radius: 5px;
	height: 15vh;
	min-height: 100px;
	margin-bottom: 30px;

	&.medium {
		height: 30vh;
	}

	&.large {
		height: 45vh;
	}
}

.modal__backdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;
	overflow: hidden;
	height: 100%;
	width: 100vw;
}

.modalbackdrop{	
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 201;
	overflow: hidden;
	height: 100%;
	width: 100vw;
}

.modal__container {
	background: #fff;
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 560px;
	z-index: 500;
	position: fixed;
	top: 0;
}

.modal__title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

iframe {
	width: 90%;
	height: 18em;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.video {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	
}

.view {
	background: #d9d9d9;
	border-radius: 8px;
	padding: 10px;
	box-sizing: border-box;
	scrollbar-width: 10px;
  }
  
//   .view::-webkit-scrollbar {
// 	/* Fix webkit scrollbar issue
// 	 What about Firefox? */
// 	visibility: hidden;
//   }
  
  .view p {
	line-height: 1.5rem;
  }
  
  .vtrack {
	// background-color: blue;
	top: 2px;
	right: 2px;
	bottom: 2px;
	width: 10px;
  }
  
  .vthumb {
	background-color: gray;
  }