.page-container{
    // margin: auto;
    // max-width: 950px;
    width: 100%;
}

.wrapper2{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 90px 10px 10px 10px;
    width: 100%;
}
.iOKODR {
    position: inherit !important;
}
.sc-bcXHqe.dwzGMH {
    position: absolute;
}