* {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
}

body {
  background-color: #333;
  // color: rgba(255, 255, 255, 0.9);
  font-family: Helvetica, Arial, "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
}


body::-webkit-scrollbar {
  display: none;
}

.layout {
  width: 100%;
  height: calc(100vh * 3);
  position: relative;
}

.layout .section-stick {
  margin: auto;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000;
}

.layout .section-stick .stick,
.layout .section-stick .active {
  width: 13px;
  height: 62px;
  border: none;
  border-radius: 9px;
}

.layout .section-stick .stick {
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all var(--time-animation) ease-in-out;
}

.layout .section-stick .active {
  position: absolute;
  background-color: var(--color-white);
  box-shadow: 0px 0px 12px 1px var(--color-white);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.layout section {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-white);
  font-size: 80px;
  font-weight: 600;
  transform: translateY(100vh);
  transition: all var(--time-animation) ease-in-out;
  z-index: 0;
}

.layout section .home {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  align-items: center;
}

.layout section .home svg {
  animation: pulse 1.4s linear infinite normal;
}

.layout .s1 {
  background-color: #4d2536;
  transform: translateY(0);
  z-index: 4;
}

.layout .s2 {
  background-color: #02486b;
  z-index: 3;
}

.layout .s3 {
  background-color: #171716;
  z-index: 2;
}

.layout .s4 {
  background-color: #154621;
  z-index: 1;
}

/*** RESPONSIVE ***/
/* MOBILE */
@media screen and (max-width: 576px) {
  body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .layout .section-stick {
    right: 20px;
    bottom: 20px;
    transform: scale(0.7);
  }

  .layout section {
    font-size: 40px;
  }
}

// .page {
//   // width: 50vw;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

header {
  text-align: center;
}

.center {
  text-align: center;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.height-100 {
  height: 100%;
}

.padding-top-8 {
  padding-top: 5em;
}

.white {
  color: white;
}

.font-1 {
  font-size: 0.9em;
}

.font-2 {
  font-size: 1.4em;
}

.font-3 {
  font-size: 2.5em;
}
.font-4{
  font-size: 1.3em;
  line-height: 1.4;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}


@font-face {
  font-family: "crimson";
  src: local('crimson'), url("./Fonts/Crimson/CrimsonPro-VariableFont_wght.ttf");
}

@font-face {
  font-family: "gantari";
  src: local('gantari'), url("./Fonts/gantari/Gantari-VariableFont_wght.ttf") format('woff');
}

@font-face {
  font-family: "prototype";
  src: local('prototype'), url("./Fonts/Prototype.ttf") format('woff');
}

@font-face {
  font-family: "montserrat";
  src: local('montserrat'), url("./Fonts/Montserrat-Regular.ttf") format('woff');
}

@font-face {
  font-family: "satisfy";
  src: local('satisfy'), url("./Fonts/Satisfy-Regular.ttf") format('woff');
}

.satisfy{
  font-family: satisfy;
}
.gantari {
  font-family: gantari;
}
.montserrat{
  font-family: montserrat;
}

.crimson {
  font-family: crimson;
}
.prototype{
  font-family: prototype;
}